extends default

block content
  div.container
    each modelId in sockets
      div.person
        h2.person-name
          | #{modelId.name} 
        h2.person-name2  
          | #{modelId.uid}
        a(href=`/?uid=${modelId.uid}`)
          | Toggle