extends default

block content
  div.container
    each socket in sockets
      div.socket
        h2.socket-name
          | #{socket.name} 
        h2.socket-name2  
          | #{socket.uid}
        h2.socket-name2  
          | #{socket.status}
        a(href=`/?uid=${socket.uid}`)
          | Toggle